<div id="map_wrapper">
    <div id="map" class="mapping"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZxciPqerBead0Ay4BDH1cy9hra0BFLfc"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var fieldMap = new FieldMap();
    fieldMap.initialize();
  });

</script>

