#map_wrapper {
    height: 400px;
}

#map {
    width: 100%;
    height: 415px;
}

#map_padding {
    padding-top: 25px;
}

#row_padding {
    padding-top: 30px;
}

#group_wells {
    padding: 0px;
    margin: 5px;
}